.pswp__bg {
    background-color: #fff !important;
}
.pswp__img--placeholder--blank, .pswp__top-bar {
    background-color: #fff !important;
}
.pswp__counter {
    display: block !important;
    font-size: 32px !important;
    color: #3B424A !important;
    position: fixed !important;
    bottom: 30px !important;
    left: 0 !important;
    right: 0 !important;
    text-align: center !important;
    top: auto !important;
}